/*General CSS Definition*/
.root {
    -fx-font-family: "WenQuanYi Micro Hei";
    -fx-font-size: 18px;
    -fx-base: black;
    -fx-background: #EDEDED;
    -fx-focus-color: #0093FF;
    -fx-control-inner-background: #FFFFFF;
    -fx-text-background-color: black;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,66.39279279279279%) 0%, derive(-fx-color,29.200000000000003%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 15.981981981981974%) 0%, derive(-fx-color, -18.0%) 100%);
}
.button, .toggle-button, .choice-box {
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 3px 10px 3px 10px;
}
.menu-button {
    -fx-background-radius: 5, 5, 4, 3;
}
.menu-button .label {
    -fx-padding: 3px 18px 3px 10px;
}
.menu-button .arrow-button {
    -fx-padding: 3px 6px 3px 0px;
}
.choice-box {
    -fx-padding: 0 6px 0 0;
}
.choice-box .label {
    -fx-padding: 3px 4px 3px 6px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 8px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 3px 6px 3px 6px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}

/*Specific CSS Definition*/
.background{
	-fx-background-image:url("bgImgs/xuancai01.jpg");
	-fx-background-size:stretch;
	-fx-effect: dropshadow(three-pass-box,black,15,0,0,0);
}
.bg-container{
}
.bg-cover{
	-fx-background-color: rgba(0,0,0,0.2);
}
.navbar{
	-fx-spacing:50;
}
.navbar .label{
	-fx-font-size: 22px;
}
.navbar .deactivated{
	-fx-opacity: 0.4;
}
.navbar .deactivated:hover{
	-fx-opacity: 0.6;
}
.navbar .deactivated:pressed{
	-fx-opacity: 0.8;
}
.toolbar{
	-fx-spacing:40;
}
.icon-setting{
	-fx-image:url("icons/setting-dark.png");
}
.icon{
	-fx-opacity:0.8;
}
.icon:hover{
	-fx-opacity:0.9;
}
.icon:pressed{
	-fx-opacity:1.0;
}
.icon-search{
	-fx-image:url("icons/search-dark.png");
}
.icon-adjust{
	-fx-image:url("icons/adjust-dark.png");
}
.cover-image{
	-fx-image:url("coverImg/defaultcover.png");
}
.tracker{
	-fx-spacing:10;
}
.progress-bar .bar { 
    -fx-background-color:black; 
}
.progress-bar .track { 
    -fx-background-color:grey;
}
.progress-bar {
    -fx-background-radius: 5;     
}
.mini-cover-image{
	-fx-cursor:hand;
}
.small-song-title{
    -fx-font-size: 16px;
}
.track-bar{
	-fx-spacing:0;
}
.controller{
	-fx-spacing:10px;
}
.controller-circle{
	-fx-fill:transparent;
	-fx-stroke:black;
	-fx-stroke-width:2;
}
.controller-button{
	-fx-opacity:0.8;
}
.controller-button:hover{
	-fx-opacity:0.9;
}
.controller-button:pressed{
	-fx-opacity:1.0;
}
.controller-prev-image{
	-fx-image:url("icons/previous-dark.png");
}
.controller-next-image{
	-fx-image:url("icons/next-dark.png");
}
.controller-play-image{
	-fx-image:url("icons/play-dark.png");
}
.controller-pause-image{
	-fx-image:url("icons/pause-dark.png");
}
.controller-lazy-image{
	-fx-image:url("icons/lazy-dark.png");
}
.controller-download-image{
	-fx-image:url("icons/download-dark.png");
}
.controller-ok-image{
	-fx-image:url("icons/ok-dark.png");
}
.metro-table{
	-fx-spacing:95px;
}
.metro-table-container{
	
}
.metro-square{
}
.metro-title{
	-fx-font-size: 32px;
	-fx-cursor:hand;
}
.metro-box{
}
.progress-bar{
	-fx-progress-color: black;
}
.progress-indicator{
	-fx-progress-color: black;
}
.progress-indicator  .text{
	visibility: collapse;
}
.icon-back{
	-fx-image:url("icons/back-dark.png");
}
.icon-play{
	-fx-image:url("icons/play-btn-dark.png");
}
.search-title{
	-fx-font-size: 26px;
}
.search-result-container{
	-fx-spacing:10;
}
.search-result-item{
	-fx-font-size: 18px;
	-fx-opacity:0.8;
	-fx-cursor:hand;
}
.search-result-item:hover{
	-fx-opacity:1.0;
}
.search-result-line{
	-fx-font-size: 16px;
}
.play-list-song-name{
	-fx-font-size: 24px;
}
.play-list-artist-name{
	-fx-font-size: 20px;
	-fx-opacity:0.8;
}
.play-list-album-name{
	-fx-font-size: 18px;
	-fx-opacity:0.6;
}
.play-list-items{
	-fx-font-size: 20px;
	-fx-opacity:0.6;
	-fx-cursor:hand;
}
.play-list-items:hover{
	-fx-opacity:0.8;
}
.play-list-box{
	-fx-spacing:20;
}
.play-list-current{
	-fx-font-size: 22px;
	-fx-opacity:1.0;
}
.title-message{
	-fx-text-fill:white;
	-fx-font-size:18;
}

